body{
    background-color: rgb(255, 255, 255);
}

.nav-cor{
    background-color: rgb(241, 239, 239);
}

.logo-nba{
    width: 8em; 
    height: 4em;
}

.img-caroussel{
    object-fit:contain; 
    height: 80vh;
    width: 80vw;
}

.tamanho-caroussel{
    height: 85vh;
}
.carousel-inner > .carousel-item > img {
    margin: 0 auto;
  }

  hr{
    
    height: 0.6em;
    background-image: linear-gradient(to right,rgb(255, 255, 255), rgba(0, 0, 0, 0.75), rgb(255, 255, 255));
}

::-webkit-scrollbar{
    width: 0.5rem;

}
::-webkit-scrollbar-track{
    background-color: #888888;
}

::-webkit-scrollbar-thumb{
    background-color: #1d4389;
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0a58ca;
}
